*
!gnu-decstation-ultrix
!gnu-decstation-ultrix/**/
!gnu-decstation-ultrix/**/*
!nachos-lab3
!**/**/*.h
!**/**/*.cc
!**/**/Makefile
!**/**/Makefile.common
!**/**/Makefile.dep
!*.md
!*.jpg
!.gitignore