*
!*.md
!.gitignore
!code/
!code/**/
!code/gnu-decstation-ultrix/**/
!code/gnu-decstation-ultrix/**/*
!code/**/*.cc
!code/**/*.h
!code/**/Makefile
!code/**/Makefile.common
!code/**/Makefile.dep
